<html>
<head>
    <style>
        .fullscreen {width: 100%}
    </style>
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="app">
    <div>
        <button @click="previousImage" :disabled="currentImage === 0">Previous</button>
        <button @click="nextImage" :disabled="currentImage === images.length - 1">Next</button>
        {{ currentImage + 1 }} of {{ images.length}}
    </div>
    <div v-if="images[currentImage].substring(0,6)!=='https:'">
        <img class="fullscreen" :src="images[currentImage]"><br/>
    </div>
    <div v-if="images[currentImage].substring(0,6)==='https:'">
        <iframe class="fullscreen" :src="images[currentImage]" height="90%">Page not found</iframe>
    </div>

</div>
<script>
    const {createApp, ref} = Vue;

    createApp({
        setup() {
            const images = [
                "slides/ApoManualCover.png",
                "slides/ApoToolSprites.png",
                "slides/PilotBoatDebug.png",
                "slides/AandBEuclid.jpeg",
                 ];
            const search = Number(location.search.substring(1));
            function setSearch() {
                if (currentImage.value) {
                    location.search = currentImage.value + 1;
                } else {
                    location.search = '';
                }
            }
            const currentImage = ref(search ? search -1 : search);
            function nextImage() {
                currentImage.value += 1;
                setSearch();
            }
            function previousImage() {
                currentImage.value -= 1;
                setSearch();
            }
            return {
                images,
                currentImage,
                nextImage,
                previousImage
            }
        }
    }).mount("#app");
</script>
</body>
</html>
